<div class="row">
    <div class="edit-form col-md-6">
        <h4>{{post.id ? 'Edit Post' : 'Create new Post'}}</h4>
        <form>
            <div class="form-group">
                <label for="title">Title</label>
                <input
                        type="text"
                        class="form-control"
                        id="title"
                        [(ngModel)]="post.title"
                        autocomplete="off"
                        name="title"
                />
            </div>
            <div class="form-group">
                <label for="content">Content</label>
                <input
                        type="text"
                        class="form-control"
                        id="content"
                        [(ngModel)]="post.content"
                        autocomplete="off"
                        name="content"
                />
            </div>
            <div class="form-group">
                <label for="tags">Tags</label>
                <input
                        type="text"
                        class="form-control"
                        id="tags"
                        [(ngModel)]="post.tags"
                        autocomplete="off"
                        name="tags"/>
            </div>

            <div class="form-group">
                <label><strong>Status:</strong></label>
                {{ post.published ? "Published" : "Pending" }}
            </div>
        </form>

        <button class="btn btn-secondary mr-2" routerLink="/posts">
            << Go Back
        </button>

        <button type="submit"
                class="btn btn-success"
                (click)="savePost()">
            Save
        </button>
    </div>
</div>